awscli==1.11.17
bcrypt==3.1.4
boto==2.48.0
boto3==1.4.1
botocore==1.4.74
docker==2.5.1
docker-pycreds==0.2.1
Flask==0.12
Flask-Ask==0.8.8
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.1
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
MySQL-python==1.2.5
PyMySQL==0.8.0
python-dateutil==2.6.0
PyYAML==3.12
requests==2.18.4
six==1.10.0
SQLAlchemy==1.1.15
urllib3==1.26.5
websocket-client==0.44.0
Werkzeug==0.12.1
WTForms==2.1
