<html>

<head>
    <title>sigmaxm Support Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/assets/css/externalcss-1.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body style="" id="divId" class=" rd-navbar-static-smooth rd-navbar-static-smooth">

    <div id="navbar_area">
        <nav class="navbar navbar-default" style="background: black;padding: -8px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="" class="img-responsive" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main_navbar">
                    <ul class="nav navbar-nav navbar-items" style="padding-letf:165px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/index">Sigmaxm</a></li>

                            </ul>
                        </li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Platforms</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" style="/* left: 11px; */position:  relative;left: 99px;/* right: 11px; */">
                        <div class="form-group signup-btn-area" style="position:  relative;right: 15px;">
                            <a href="/register" class="btn btn-success btn-small btn-block btn-signup">Sign Up</a>
                        </div>

                        <div class="form-group" style="margin-top: 3px;">
                            <a href="/login" class="btn btn-default btn-small btn-block btn-login">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="page" style="/* top: 11px; */position:  relative;top: -25px;">
        <div class="page-loader page-loader-variant-1 loaded">
            <div>
                <a href="index.html" class="brand brand-md">
                    <h7>Sigmaxm</h7>
                </a>
                <div class="page-loader-body">
                    <div id="spinningSquaresG">
                        <div id="spinningSquaresG_1" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_2" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_3" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_4" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_5" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_6" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_7" class="spinningSquaresG">
                        </div>
                        <div id="spinningSquaresG_8" class="spinningSquaresG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sphider_noindex-->
        <header class="page-head">

        </header>
        <!--/sphider_noindex-->
        <section>
            <div data-loop="false" data-autoplay="false" data-simulate-touch="true" class="swiper-container swiper-slider swiper-variant-1 bg-gray-base swiper-container-horizontal">
                <div class="swiper-wrapper text-center" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div data-slide-bg="static/images/home-slider-1-slide-1.jpg" class="swiper-slide swiper-slide-active" style="background-image: url(&quot;images/home-slider-1-slide-1.jpg&quot;); background-size: cover; width: 1438px;">
                        <div class="swiper-slide-caption">
                            <div class="shell">
                                <div class="range range-sm-center">
                                    <div class="cell-sm-11 cell-md-10 cell-lg-9">
                                        <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header fadeInUp animated" id="custom-element-0">Welcome to Sigmaxm</h2>
                                        <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header fadeInUp animated" id="custom-element-0"> Docker Orchestration tool</h2>

                                        <div class="group-xl-responsive offset-top-30 offset-sm-top-45">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="static/images/home-slider-1-slide-2.jpg" class="swiper-slide swiper-slide-next" style="background-image: url(&quot;static/images/home-slider-1-slide-2.jpg&quot;); background-size: cover; width: 1438px;">
                        <div class="swiper-slide-caption">
                            <div class="shell">
                                <div class="range range-sm-center">
                                    <div class="cell-sm-11 cell-md-10 cell-lg-9">
                                        <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header not-animated">Unlimited Opportunities</h2>
                                        <p data-caption-animate="fadeInUp" data-caption-delay="100" class="text-bigger slider-text not-animated">Starbis is the easiest way for you to build different sites without using many themes</p>
                                        <div class="group-xl-responsive offset-top-30 offset-sm-top-45">
                                            <a data-caption-animate="fadeInUp" data-caption-delay="250" href="#" data-custom-scroll-to="section-start-journey" class="btn btn-xl btn-white-outline-variant-1 not-animated">Start a journey</a>
                                            <a data-caption-animate="fadeInUp" data-caption-delay="250" href="#" class="btn btn-xl btn-primary-contrast not-animated">get starbis now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="" class="swiper-slide" style="background-image: url(); background-size: cover; width: 1438px;">
                        <div class="swiper-slide-caption">
                            <div class="shell">

                                <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-5 wow fadeInLeft">
                                    <h2 class="text-red-orange"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar">
                    <div class="swiper-nav-wrap">
                        <div class="swiper-button-prev swiper-button-disabled">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-start-journey" class="section-50 section-sm-90 section-lg-top-120 section-lg-bottom-145">
            <div class="shell">
                <div class="range range-md-bottom range-sm-center">

                    <div class="range range-md-bottom range-sm-center">
                        <div id="dummy" data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-5 wow fadeInLeft" style="visibility: visible; animation-duration: 2s; animation-name:fadeInLeft;padding-bottom: 145px;">
                          <h2 class="text-red-orange" style="color: #1488c6;">Sigmaxm</h2>                            <p class="h3 offset-top-0">Docker Orchestration Cloud</p>
                            <p class="offset-top-40 text-secondary">Sigmaxm is a docker-orchestration-cloud service that provides Fast and reliable service. Sigmaxm reduces the time to build infrastructure for your applications to minutesme to build infrastructure for your applications to minutes.</p>
                        </div>

                        <div class="cell-sm-11 cell-md-7 offset-top-0 offset-sm-top-0 offset-md-top-0">
                            <div class="image-group">
                                <img src="static/images/home-3-689x469.png" alt="" width="689" height="469">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider-spectrum">
        </div>
        <section data-on="false" data-md-on="true" style="background-image: url(&quot;images/parallax-1.jpg&quot;); position: relative; overflow: hidden; z-index: 0; height: 0px;" class="rd-parallax bg-gray-base bg-image">
            <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 313.312px, 0px);">
                <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 1252.31px, 0px);">
                    <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 1345.05px, 0px);">
                        <div data-speed="0.33" data-type="media" data-url="static/images/parallax-1.jpg" class="rd-parallax-layer" style="position: fixed; background-image: url(&quot;images/parallax-1.jpg&quot;); height: 213.72px; transform: translate3d(0px, -163.393px, 0px);">
                        </div>
                        <div class="rd-parallax-layer-holder" style="position: relative; height: 714px;">
                            <div class="rd-parallax-layer-holder" style="position: relative; height: 711px;">
                                <div class="rd-parallax-layer-holder" style="position: relative; height: 711px;">
                                    <div data-speed="0" data-type="html" class="rd-parallax-layer" style="position: fixed; width: 1438px; transform: translate3d(0px, -355.5px, 0px);">
                                        <div class="section-50 section-sm-75 section-lg-top-100 section-lg-bottom-120">
                                            <div class="shell">
                                                <div class="range range-sm-center">
                                                    <div class="cell-sm-11 cell-md-10 cell-lg-9 text-center">
                                                        <h3>
                                                            <span>Featured</span>
                                                            <span>Topics</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="range">
                                                    <div class="cell-sm-6 cell-md-4">
                                                        <article class="icon-box-vertical">
                                                            <span class="icon icon-primary icon-md fa-briefcase"></span>

                                                        </article>
                                                    </div>
                                                    <div class="cell-sm-6 cell-md-4 offset-top-50 offset-sm-top-0">
                                                        <article class="icon-box-vertical">
                                                            <span class="icon icon-primary icon-md fa-files-o"></span>
                                                        </article>
                                                    </div>
                                                    <div class="cell-sm-6 cell-md-4 offset-top-50 offset-md-top-0">
                                                        <article class="icon-box-vertical">
                                                            <span class="icon icon-primary icon-md fa-square-o"></span>
                                                        </article>
                                                    </div>
                                                    <div class="cell-sm-6 cell-md-4 offset-top-50 offset-lg-top-60">
                                                    </div>
                                                    <div class="cell-sm-6 cell-md-4 offset-top-50 offset-lg-top-60">
                                                    </div>
                                                    <div class="cell-sm-6 cell-md-4 offset-top-50 offset-lg-top-60">
                                                    </div>
                                                </div>
                                                <div class="range offset-top-30 offset-sm-top-45">
                                                    <div class="cell-xs-12 text-center">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section data-on="false" data-md-on="true" style="background-image: url(&quot;images/parallax-2.jpg&quot;); position: relative; overflow: hidden; z-index: 0; height: 0px;" class="rd-parallax bg-gray-base bg-image">
            <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 313.312px, 0px);">
                <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 1252.31px, 0px);">
                    <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 2059.05px, 0px);">
                        <div data-speed="0.5" data-type="media" data-url="static/images/parallax-2.jpg" class="rd-parallax-layer" style="position: fixed; background-image: url(&quot;images/parallax-2.jpg&quot;); height: 262px; transform: translate3d(0px, -216.656px, 0px);">
                        </div>
                        <div class="rd-parallax-layer-holder" style="position: relative; height: 548px;">
                            <div class="rd-parallax-layer-holder" style="position: relative; height: 524px;">
                                <div class="rd-parallax-layer-holder" style="position: relative; height: 524px;">
                                    <div data-speed="0.01" data-type="html" class="rd-parallax-layer" style="position: fixed; width: 1438px; transform: translate3d(0px, -263.713px, 0px);">
                                        <div class="section-60 section-sm-100 section-lg-120">
                                            <div class="shell text-center">
                                                <div class="range">
                                                    <div class="cell-xs-12">
                                                        <a data-lightbox="iframe" href="https://www.youtube.com/watch?v=1UWpbtUupQQ" class="link-circle link-white">
                                                        </a>
                                                        <div style="max-width: 740px" class="reveal-inline-block offset-top-22">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section data-on="false" data-md-on="true" style="background-image: url(&quot;images/landing-parallax-3.jpg&quot;); position: relative; overflow: hidden; z-index: 0; height: 0px;" class="rd-parallax bg-gray-base bg-image">
            <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 313.312px, 0px);">
                <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 1252.31px, 0px);">
                    <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 2607.05px, 0px);">
                        <div data-speed="0.33" data-type="media" data-url="static/images/landing-parallax-3.jpg" class="rd-parallax-layer" style="position: fixed; background-image: url(&quot;images/landing-parallax-3.jpg&quot;); height: 213.72px; transform: translate3d(0px, -163.393px, 0px);">
                        </div>
                        <div class="rd-parallax-layer-holder" style="position: relative; height: 457px;">
                            <div class="rd-parallax-layer-holder" style="position: relative; height: 455px;">
                                <div class="rd-parallax-layer-holder" style="position: relative; height: 455px;">
                                    <div data-speed="0" data-type="html" class="rd-parallax-layer" style="position: fixed; width: 1438px; transform: translate3d(0px, -227.5px, 0px);">
                                        <div class="section-60 section-sm-75 section-lg-120">
                                            <div class="shell text-center">
                                                <h3>
                                                </h3>
                                                <div class="p">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-35 section-sm-75 section-lg-90 bg-gray-light">
            <!-- <div class="shell text-center text-xs-left">
                <div class="range">
                    <div class="cell-xs-12">
                        <h4>Featured Service</h4>
                    </div>
                </div>
                <div class="range offset-top-40">
                    <div class="cell-sm-10 cell-md-6">
                        <article class="post-minimal">
                            <div class="post-left">
                                <figure class="post-image">
                                    <img src="images/landing-9-306x200.jpg" alt="" width="220" height="224">
                                </figure>
                            </div>
                            <div class="post-body">
                                <h5>
                                    <a href="#" target="_blank">1. Create Docker Swarm</a>
                                </h5>
                                <div class="post-meta">

                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-10 cell-md-6 offset-top-30 offset-md-top-0">
                        <article class="post-minimal">
                            <div class="post-left">
                                <figure class="post-image">
                                    <img src="images/landing-9-306x200.jpg" alt="" width="220" height="224">
                                </figure>
                            </div>
                            <div class="post-body">
                                <h5>
                                    <a href="#" target="_blank">1. View Docker Swarm</a>
                                </h5>
                                <div class="post-meta">
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-10 cell-md-6 offset-top-30">
                        <article class="post-minimal">
                            <div class="post-left">
                                <figure class="post-image">
                                    <img src="images/typography-3-570x386.jpg" alt="" width="220" height="224">
                                </figure>
                            </div>
                            <div class="post-body">
                                <h5>
                                    <a href="" target="_blank">3. Create a Service</a>
                                </h5>
                                <div class="post-meta">
                                    <div class="object-inline-baseline">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-10 cell-md-6 offset-top-30">
                        <article class="post-minimal">
                            <div class="post-left">
                                <figure class="post-image">
                                    <img src="images/landing-5-252x135.jpg" alt="" width="220" height="224">
                                </figure>
                            </div>
                            <div class="post-body">
                                <h5>
                                    <a href="" target="_blank">4. View  Service</a>
                                </h5>
                                <div class="post-meta">
                                    <div class="object-inline-baseline">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div> -->
        </section>
        <section data-on="false" data-md-on="true" style="background-image: url(&quot;images/clients-testimonials-parallax-1.jpg&quot;); position: relative; overflow: hidden; z-index: 0; height: 0px;" class="rd-parallax bg-gray-base bg-image">
            <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 284.312px, 0px);">
                <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 2212.31px, 0px);">
                    <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: -60px; padding: 60px 0px; width: 1438px; transform: translate3d(0px, 4024.05px, 0px);">
                        <div data-speed="0.33" data-type="media" data-url="static/images/clients-testimonials-parallax-1.jpg" class="rd-parallax-layer" style="position: fixed; background-image: url(&quot;images/clients-testimonials-parallax-1.jpg&quot;); height: 213.72px; transform: translate3d(0px, -153.823px, 0px);">
                        </div>
                        <div class="rd-parallax-layer-holder" style="position: relative; height: 0px;">
                            <div class="rd-parallax-layer-holder" style="position: relative; height: 0px;">
                                <div class="rd-parallax-layer-holder" style="position: relative; height: 0px;">
                                    <div data-speed="0" data-type="html" class="rd-parallax-layer" style="position: fixed; width: 1438px; transform: translate3d(0px, 0px, 0px);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--sphider_noindex-->

        <!--/sphider_noindex-->
    </div>
    <div id="form-output-global" class="snackbars">
    </div>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
        <div class="pswp__bg">
        </div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item">
                </div>
                <div class="pswp__item">
                </div>
                <div class="pswp__item">
                </div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter">
                    </div>
                    <button title="Close (Esc)" class="pswp__button pswp__button--close">
                    </button>
                    <button title="Share" class="pswp__button pswp__button--share">
                    </button>
                    <button title="Toggle fullscreen" class="pswp__button pswp__button--fs">
                    </button>
                    <button title="Zoom in/out" class="pswp__button pswp__button--zoom">
                    </button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip">
                    </div>
                </div>
                <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left">
                </button>
                <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/assests/js/script.js">
    </script>

    <!--/sphider_noindex-->
    <a href="#" id="ui-to-top" class="ui-to-top fa fa-angle-up active"></a>

    <a href="#" id="ui-to-top" class="ui-to-top fa fa-angle-up"></a>

    <a href="#" id="ui-to-top" class="ui-to-top fa fa-angle-up"></a>

</body>

</html>
