<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <!--<a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>SigmaEX2 </span></a>-->
    <!--<a href="index.html" class="site_title" style="-->
   <!--background:  white;-->
   <!--width: 100%;-->
   <!--padding: 0%;-->
   <!--padding-left: -2%;-->
   <!--height: 99%%;-->
<!--"><span><img src="/static/images/sigmaxm.jpg"  style="position:relative;right:5px"></span>  </a>-->
    <!--<a href="#" class="site_title"><span><img src="/static/build/images/portnair.png"></span></a>-->
    <a href="#" class="site_title"><i class="fa fa-soundcloud" style="border: 0px;"></i> <span>Sigmaxm</span></a>

  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/vizualizer">Vizualizer</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-sitemap"></i> Orchestration <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/createdockerswarm">DockerSwarm</a></li>
            <li><a href="/k8sservices"><img src="/static/images/wheel.png" style="width:31px"><span class="label label-success pull-right">Coming Soon</span>k8sservices</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> Services <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/viewservice">Docker Services </a></li>
            <li><a href="/k8sservice"><img src="/static/images/wheel.png" style="width:31px"><span class="label label-success pull-right">Coming Soon</span>k8sservices</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-table"></i> Registry <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/listimages">List Images</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-gears"></i> Settings <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a><i class="fa fa-cloud"></i> CloudProviders<span class="fa fa-chevron-down""></span></a>
            <ul class="nav child_menu">
            <li><a href="/aws"><i class="fa fa-amazon"></i> aws</a></li>
            <!--<li><a href="/aws"><img src="/static/images/wheel.png" style="width:31px">k8s</a></li>-->
             <li><a href="/google"><i class="fa fa-google"></i> google</a></li>
              <li><a href="/google"><i class="fa fa-windows"></i> Azure</a></li>
            </ul>
            <li><a href="/registry">Registry </a></li>
            <li><a href="/otherssettings">Others </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings"style="
    background:  aliceblue;
">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen" style="
    background:  aliceblue;
">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock" style="
    background:  aliceblue;
">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/" style="
    background:  aliceblue;
">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
