{% extends "base_site.html" %}
{% block title %} SigmaXm {% endblock title %}
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>SigmaXm </h2>
            <ul class="nav navbar-right panel_toolbox">
              </li>
              <li class="dropdown">
              </li>
              </li>
              <li class="dropdown">
              </li>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div style="width: 960px; height: 720px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" scrolling="no" style="width:960px; height:720px" src="/static/images/Sigmaxm_Presentation.png" id="~9Y3w8FBDpo3"></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
{% block javascripts %}
{{ super()}}
<!-- Chart.js -->
<script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
<!-- gauge.js -->
<script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- Skycons -->
<script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
<!-- Flot -->
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
<!-- Flot plugins -->
<script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
<!-- DateJS -->
<script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
{% endblock javascripts %}